.delete-button {
    background-color: #6b84ff;
    color: #F8F8FF;
}

.edit-button {
    background-color: #FFE66D;
    color: #1e1d1d;
}

.estimation-box {
    display: flex;
    margin-top: 100px;
}

.form-button {
    border-radius: 12px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 1.1em;
    margin-left: 2%;
    margin-top: 10px;
    padding: 5px;
    width: 25%;
}

.form-row {
    border: none;
    display: block;
}

.task-table {
    float: right;
    table-layout: fixed;
    width: 45%;
}

.table-button {
    border-radius: 12px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 0.9em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4px;
    padding: 5px;
    width: 90%;
}

.table-text {
    font-size: 1.2em;
}

.user-inputs {
    width: 50%;
}
