.big-text {
    display: block;
    margin-left: 20%;
    margin-top: 270px;
    width: 60%;
}

.big-text > h1 {
    color: #FF6B6B;
    font-size: 5em;
}

.big-text > h2 {
    color: #1e1d1d;
    font-size: 2em;
}

.bottom-nav {
    display: flex;
    bottom: 40px;
    justify-content: space-between;
    margin-left: 40%;
    position: fixed;
    width: 20%;
}

.credential-form {
    background-color: #FF6B6B;
    border: #1e1d1d dotted 2px;
    border-radius: 10px;
    color: #1e1d1d;
    font-weight: lighter;
    margin-left: 30%;
    margin-top: 250px;
    padding: 10px;
    width: 40%;
}

.form-button {
    background-color: #F8F8FF;
    border-radius: 12px;
    color: #1e1d1d;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 1.1em;
    margin-left: 40% !important;
    padding: 10px;
    transition-duration: 0.4s;
    width: 20%;
}

.form-button:hover {
    background-color: #FFE66D;
    color: #1e1d1d;
}

.form-element {
    display: block;
    margin-left: 20%;
}

.form-input {
    font-size: 1.1em;
    margin-bottom: 20px;
    width: 60%;
}

.form-label {
    font-size: 1.4em;
}

.page-link {
    color: #6b84ff;
    font-size: 1.3em;
    text-decoration: none;
}

.site-content {
    background-color: #F8F8FF;
}
